*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url(img/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 218px;
}

.container{
    width: 1200px;
    height: 96px;
    display: flex;
    margin: 0 auto;
}

.yandex{
    width: 155px;
    height: 70px;
    align-self: center;
}

.item{
    display: flex;
    align-items: center;
}

.item img{
    width: 90px;
    height: 36px;
    align-self: center;
}

.item div{
    border: 1px solid #d9d9d9;
    width: 40px;
    height: 0px;
    transform: rotate(-90deg);
}

.item p{
    font-family: 'Cuprum';
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #fff;
}

.item1{
    font-family: 'Cuprum';
    font-weight: 700;
    font-size: 16px;
    line-height: 123%;
    color: #fff;
    align-self: center;
}

.item1 ul{
    list-style: none;
    display: flex;
}

.item1 li:first-child{
    padding: 15px 24px;
    width: 151px;
    height: 44px;
}

.item1 li:nth-child(2){
    padding: 15px 24px;
    width: 143px;
    height: 44px;
}

.item1 li:nth-child(3){
    padding: 15px 24px;
    width: 99px;
    height: 44px;
}

.item1 li:last-child{
    padding: 15px 24px;
    width: 111px;
    height: 44px;
}

.item2{
    display: flex;
    align-items: center;
}

.item2 div{
    border: 1px solid #d9d9d9;
    width: 40px;
    height: 0px;
    transform: rotate(-90deg);
}

.item2 button{
    border: none;
    border-radius: 10px;
    width: 187px;
    height: 56px;
    background: #f8b806;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 123%;
    color: #242424;
    margin-left: 17px;
}

.container1{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 204px;
}

.container1 h1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 72px;
    line-height: 123%;
    text-transform: uppercase;
    color: #fff;
}

.container1 p{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 28px;
    line-height: 123%;
    color: #fff;
}

.container1 button{
    border: none;
    border: 1px solid #979797;
    border-radius: 16px;
    width: 260px;
    height: 60px;
    background: #fff;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #242424;
    margin-top: 32px;
}

.container1 img{
    width: 574px;
    height: 416px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.types{
    background-color: #242424;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.abstract_bground1{
    width: 659px;
    height: 200px;
    position: absolute;
}

.abstract_bground2{
    width: 659px;
    height: 200px;
    position: absolute;
}

.types h2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 45px;
    line-height: 1.23;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 72px;
}

.types button{
    border: none;
    border-radius: 10px;
    width: 241px;
    height: 52px;
    background: #f8b806;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.23;
    color: #242424;
    align-self: center;
}

.typeofhouse{
    flex-grow: 1;
    width: 470px;
}

.container2{
    display: flex;
    padding-bottom: 32px;
    justify-content: space-between;

}

.lowrise,
.highrise,
.parking,
.flats_terase{
    /* flex-grow: 2; */
    width: 25%;
}

.lowrise{
    /* width: 479px; */
    height: 587px;
    background: url(img/1.png) no-repeat center;
    background-size: cover;
}

.highrise{
    /* width: 479px; */
    height: 587px;
    background: url(img/2.png) no-repeat center;
    background-size: cover;
}

.parking{
    /* /* width: 479px; */
    height: 587px;
    background: url(img/3.png) no-repeat center;
    background-size: cover;
}

.flats_terase{
    /* width: 479px; */
    height: 587px;
    background: url(img/4.png) no-repeat center;
    background-size: cover;
}

.gap{
    border-radius: 0 8px 8px 0;
    padding: 10px 20px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.53);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #242424;
    position: relative;
    top: 20px;
}

.gap1{
    padding: 10px;
    background: rgba(0, 0, 0, 0.47);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 29px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    margin-top: 510px;
    margin-left: -354px;
}

.gap2{
    padding: 10px;
    background: rgba(0, 0, 0, 0.47);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 29px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    margin-top: 510px;
    margin-left: -228px;
}

.aboutPark{
    background-color: #242424;
    display: flex;
}

.container3{
    width: 1200px;
    margin: auto;
    display: flex;
    padding-top: 100px;
}

.container3 h3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 45px;

    /* line-height: 55px; */ 
    line-height: 1.23;
    text-transform: capitalize;
    color: #fff;
}

.container3 p:nth-child(2){
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;

    /* line-height: 30px; */ 
    line-height: 1.23;
    color: #fff;
}

.container3 p:nth-child(3){
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;

    /* line-height: 30px; */ 
    line-height: 1.23;
    color: #fff;
}

.container3 img{
    width: 440px;
    flex-grow: 2;
    margin-left: 20px;
}

.wrap{
    display: flex;
}

.wrap p:nth-child(2){
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 19px;

    /* line-height: 23px; */ 
    line-height: 1.23;
    text-transform: uppercase;
    color: #fff;
    margin-left: 16px;
}

.wrap div{
    width: 50px;
    height: 5px;
    background: #f9b807;
    align-self: center;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages{
    background-color: #242424;
    padding-top: 50px;
}

.header1{
    height: 120px;
    position: relative;
}

.header1 h3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 45px;

    /* line-height: 55px; */ 
    line-height: 1.23;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 32px;
}

.container4{
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

.icons{
    width: 131px;
    height: 131px;
}


.text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;

    /* line-height: 30px; */ 
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.container5{
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 30px;
}

.container4 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container5 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.view{
    background-image: url(img/Frame\ 239.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1007px;
}

.text1{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

.label{
    border: 1px solid #fff;
    border-radius: 43px;
    width: 96px;
    height: 32px;
    background: #099340;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 790px;
    left: 740px;
}

.label1{
    border: 1px solid #fff;
    border-radius: 43px;
    width: 96px;
    height: 32px;
    background: #099340;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 1600px;
    top: 600px;
}

.label2{
    border: 1px solid #fff;
    border-radius: 43px;
    width: 96px;
    height: 32px;
    background: #099340;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 1230px;
    top: 70px;
}

.line{
    border: 1px solid #fff;
    width: 39px;
    transform: rotate(240deg);
    position: relative;
    top: 800px;
    left: 720px;
}

.line1{
    border: 1px solid #fff;
    width: 39px;
    transform: rotate(113deg);
    position: relative;
    top: 640px;
    left: 1640px;
}

.line2{
    border: 1px solid #fff;
    width: 39px;
    transform: rotate(113deg);
    position: relative;
    top: 200px;
    left: 1240px;
}

.label3{
    border: 1px solid #fff;
    border-radius: 43px;
    width: 64px;
    height: 32px;
    background: #f8b806;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 360px;
    left: 1780px;
}

.label4{
    border: 1px solid #fff;
    border-radius: 43px;
    width: 64px;
    height: 32px;
    background: #f8b806;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 390px;
    left: 1390px;
}

.label5{
    border: 1px solid #fff;
    border-radius: 43px;
    width: 64px;
    height: 32px;
    background: #f8b806;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 240px;
    left: 1350px;
}

.label6{
    border: 1px solid #fff;
    border-radius: 43px;
    width: 64px;
    height: 32px;
    background: #f8b806;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 90px;
    left: 1150px;
}

.label7{
    border: 1px solid #fff;
    border-radius: 43px;
    width: 64px;
    height: 32px;
    background: #f8b806;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: -30px;
    left: 980px;
}

.label8{
    border: 1px solid #fff;
    border-radius: 43px;
    width: 64px;
    height: 32px;
    background: #f8b806;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: -160px;
    left: 820px;
}

.label9{
    border: 1px solid #fff;
    border-radius: 43px;
    width: 64px;
    height: 32px;
    background: #f8b806;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: -280px;
    left: 660px;
}

.label10{
    border: 1px solid #fff;
    border-radius: 43px;
    width: 64px;
    height: 32px;
    background: #f8b806;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 280px;
    left: 650px;
}

.circle{
    border-radius: 61px;
    padding: 10px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #242424;
}

.line3{
    border: 1px solid #fff;
    width: 39px;
    transform: rotate(113deg);
    position: relative;
    top: 500px;
    left: 1760px;
}

.line4{
    border: 1px solid #fff;
    width: 39px;
    transform: rotate(334deg);
    position: relative;
    top: 550px;
    left: 1360px;
}

.line5{
    border: 1px solid #fff;
    width: 39px;
    transform: rotate(334deg);
    position: relative;
    top: 430px;
    left: 1320px;
}

.line6{
    border: 1px solid #fff;
    width: 39px;
    transform: rotate(334deg);
    position: relative;
    top: 310px;
    left: 1120px;
}

.line7{
    border: 1px solid #fff;
    width: 39px;
    transform: rotate(334deg);
    position: relative;
    top: 222px;
    left: 950px;
}

.line8{
    border: 1px solid #fff;
    width: 39px;
    transform: rotate(334deg);
    position: relative; 
    top: 120px;
    left: 790px;
}

.line9{
    border: 1px solid #fff;
    width: 39px;
    transform: rotate(334deg);
    position: relative;
    top: 40px;
    left: 630px;
}

.line10{
    border: 1px solid #fff;
    width: 39px;
    transform: rotate(104deg);
    position: relative;
    top: 585px;
    left: 650px;
}

.layout{
    background-color: #242424;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
    padding: 50px;
}

.complex_park{
    background-color: #3F3D42;
}

.container6{
    width: 1200px;
    margin: auto;
    display: flex;
    padding-top: 40px;
}

.box2{
    margin-left: 20px;
}

.container6 img{
    width: 500px;
    height: 350px;
}

.box2 h4{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    
}

.box2 > p:nth-child(3){
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}

.box2 > p:nth-child(5){
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}

.box2 > p:nth-child(7){
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
}

.box2 button{
    border-radius: 10px;
    border: none;
    width: 682px;
    height: 60px;
    background: #f8b806;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    color: #242424;
}