*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.container {
    margin: 0 auto;
    width: 1200px;
}
.logo > img {
    float: left;
    margin-top: 13px;
}
.logo > ul >li:nth-child(1){
    float: left;
    margin-left: 86px;
    margin-top: 33px;
    list-style: none;
    font-family:'Roboto';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}
.logo > ul >li:nth-child(2){
    float: left;
    margin-left: 42px;
    margin-top: 33px;
    list-style: none;
    font-family:'Roboto';
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: red;
}
.logo > ul >li:nth-child(3){
    float: left;
    margin-left: 42px;
    margin-top: 33px;
    list-style: none;
    font-family:'Roboto';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}
.logo > ul >li:nth-child(4){
    float: left;
    margin-left: 42px;
    margin-top: 33px;
    list-style: none;
    font-family:'Roboto';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}
.button > span{
    float: left;
    margin-left: 96px;
    margin-top: 23px;
    border: 1px solid #6a6a6a;
    border-radius: 30px;
    width: 162px;
    height: 39px;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto';
    color: #000;
    
}
.button > img{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}
.vertical {
    height: 38px;
    width: 0;
    border-left: 1px solid #e3e3e3;
    float: left;
    margin-left: 25px;
    margin-top: 24px;
}
.burger{
    margin-left: 24px;
    margin-top: 35px;
}
.mask{
    background-image: url(../img/Mask\ group.png);
    background-size: 100%;
    height: 1080px;
}
.textmask{
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 128px;
    line-height: 1.05469;
    text-transform: uppercase;
    text-align: center;
    color: white;;
}
.textmask1{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-top: 465px;
}
.menu{
    background-color: white;
    border-radius: 30px;
    width: 928px;
    height: 64px;
}
.menu > span:nth-child(1){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #A1A1A1;
    margin-left: 28px;
    margin-top: 13px;
    position: absolute;
}
.menu > span:nth-child(2){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    margin-left: 28px;
    margin-top: 32px;
    position: absolute;
}
.menu > span:nth-child(3){
    border: 1px solid;
    width: 38px;
    height: 0px;
    transform: rotate(-90deg);
    position: absolute;
    margin-left: 146px;
    margin-top: 32px;
    color: #D9D9D9;
}
.menu > span:nth-child(4){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #A1A1A1;
    position: absolute;
    margin-left: 176px;
    margin-top: 22px;
}
.menu > span:nth-child(5){
    border: 1px solid;
    width: 38px;
    height: 0px;
    color: #d9d9d9;
    transform: rotate(-90deg);
    position: absolute;
    margin-left: 300px;
    margin-top: 32px;
}
.menu > span:nth-child(6){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #A1A1A1;
    position: absolute;
    margin-left: 330px;
    margin-top: 22px;
}
.menu > span:nth-child(7){
    border: 1px solid;
    width: 38px;
    height: 0px;
    color: #d9d9d9;
    transform: rotate(-90deg);
    position: absolute;
    margin-left: 454px;
    margin-top: 32px;
}
.menu > span:nth-child(8){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #A1A1A1;
    margin-left: 484px;
    margin-top: 13px;
    position: absolute;
}
.menu > span:nth-child(9){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    margin-left: 484px;
    margin-top: 32px;
    position: absolute;
}
.menu > span:nth-child(10){
    border: 1px solid;
    width: 38px;
    height: 0px;
    color: #d9d9d9;
    transform: rotate(-90deg);
    position: absolute;
    margin-left: 626px;
    margin-top: 32px;
}
.menu > span:nth-child(11){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #A1A1A1;
    margin-left: 656px;
    margin-top: 13px;
    position: absolute;
}
.menu > span:nth-child(12){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    margin-left: 656px;
    margin-top: 32px;
    position: absolute;
}
.menu > img{
    width: 168px;
    height: 40px;
    margin-left: 748px;
    margin-top: 12px;
}
.box{
    width: 1920px;
    height: 813px;
    background-color: white;
    float: left;
}
.box > span:nth-child(1){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 44px;
    text-transform: uppercase;
    color: black;
    margin-left: 400px;
    margin-top: 134px;
    position: absolute;
}
.box > span:nth-child(2){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    margin-left: 400px;
    margin-top: 190px;
    position: absolute;
}
.box > img{
    margin-left: 279px;
    margin-top: 177px;
}
.cards > img:nth-child(1){
    margin-left: 400px;
}
.cards > img:nth-child(2){
    margin-left: 32px;
}
.cards > img:nth-child(3){
    margin-left: 32px;
}
.cards > img:nth-child(4){
    margin-left: 32px;
}
.box2{
    width: 1920px;
    height: 898px;
    background-color: #F8F8F8;
    float: left;
}
.box2 > img{
    margin-left: 874px;
    margin-top: 75px;
}
.box2 > span:nth-child(2){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 44px;
    text-transform: uppercase;
    color: black;
    margin-left: 733px;
    margin-top: 169px;
}
.box2 > span:nth-child(3){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    margin-left: 715px;
    margin-top: 225px;
}
.cards2 > img:nth-child(1){
    width: 460px;
    height: 340px;
    margin-left: 196px;
    margin-top: 82px;
    float: left;
}
.cards2 > img:nth-child(2){
    width: 544px;
    height: 400px;
    margin-left: 32px;
    margin-top: 52px;
    float: left;
}
.cards2 > img:nth-child(3){
    width: 460px;
    height: 340px;
    margin-left: 32px;
    margin-top: 82px;
}
.box3{
    width: 1920px;
    height: 1279px;
    background-image: url(../img/box3.png);
    background-repeat: no-repeat;
    float: left;
}
.request{
    border-radius: 30px;
    width: 1120px;
    height: 133px;
    background-color: white;
    margin-left: 400px;
    margin-top: 452px;
    position: relative;
}
.request > span:nth-child(1){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    margin-left: 64px;
    margin-top: 39px;
    position: absolute;
}
.request > span:nth-child(2){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    color: black;
    margin-left: 379px;
    margin-top: 38px;
    position: absolute;
}
.request > span:nth-child(3){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #bdbdbd;
    margin-left: 666px;
    margin-top: 42px;
    position: absolute;
}
.request > span:nth-child(4){
    border: 1px solid #848484;
    width: 144px;
    height: 0px;
    margin-left: 666px;
    margin-top: 61px;
    position: absolute;
}
.request > span:nth-child(5){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #bdbdbd;
    margin-left: 666px;
    margin-top: 72px;
    position: absolute; 
}
.request > span:nth-child(6){
    border: 1px solid #848484;
    width: 144px;
    height: 0px;
    margin-left: 666px;
    margin-top: 91px;
    position: absolute;
}
.request > img{
    margin-left: 889px;
    margin-top: 46px;
}
.reviews{
    width: 1920px;
    height: 940px;
    background-color: white;
    position: absolute;
    top: 3480px;
}
.reviews > img{
    margin-left: 826px;
    margin-top: 75px;
}
.reviews > span:nth-child(2){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin-left: 867px;
    margin-top: 174px;
}
.reviews > span:nth-child(3){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin-left: 701px;
    margin-top: 230px;
}
.cards3 > .review{
    border-radius: 30px;
    width: 352px;
    height: 364px;
    background-color: #F8F8F8;
    margin-left: 400px;
    margin-top: 67px;
    position: absolute;
    float: left;
}
.cards3 > .review > img:nth-child(1){
    margin-left: 144px;
    margin-top: 27px;
}
.cards3 > .review > img:nth-child(2){
    margin-left: 109px;
    margin-top: 18.41px;
}
.cards3 > .review > p:nth-child(3){
    font-family: 'Roboto';
    width: 304px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #6b6b6b;
    margin-left: 24px;
    margin-top: 9.41px;
    position: absolute;
}
.cards3 > .review > p:nth-child(4){
    font-family: 'Roboto';
    width: 304px;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #6b6b6b;
    margin-left: 24px;
    position: absolute;
    margin-top: 28.41px;
}
.cards3 > .review > p:nth-child(5){
    font-family: 'Roboto';
    width: 304px;
    font-weight: 300;
    font-size: 16px; 
    line-height: 1.375;
    color: black;
    margin-top: 62.41px;
    margin-left: 24px;
    position: absolute;
}
.cards3 > .review1{
    border-radius: 30px;
    width: 352px;
    height: 400px;
    background-color: #F8F8F8;
    position: absolute;
    margin-left: 784px;
    margin-top: 67px;
    float: left; 
}
.cards3 > .review1 > img:nth-child(1){
    margin-left: 144px;
    margin-top: 27px;
}
.cards3 > .review1 > img:nth-child(2){
    margin-left: 109px;
    margin-top: 18.41px;
}
.cards3 > .review1 > p:nth-child(3){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #6b6b6b;
    position: absolute;
    width: 304px;
    margin-left: 24px;
    margin-top: 9.41px;
}
.cards3 > .review1 > p:nth-child(4){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #6b6b6b;
    position: absolute;
    width: 304px;
    margin-left: 24px;
    margin-top: 28.41px;
}
.cards3 > .review1 > p:nth-child(5){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 1.375;
    color: black;
    position: absolute;
    width: 304px;
    margin-left: 24px;
    margin-top: 76.41px;
}
.cards3 > .review2{
    border-radius: 30px;
    width: 352px;
    height: 357px;
    background-color: #F8F8F8;
    position: absolute;
    margin-left: 1186px;
    margin-top: 67px;
}
.cards3 > .review2 > img:nth-child(1){
    margin-left: 144px;
    margin-top: 27px;
}
.cards3 > .review2 > img:nth-child(2){
    margin-left: 109px;
    margin-top: 18.41px;
}
.cards3 > .review2 > p:nth-child(3){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #6b6b6b;
    position: absolute;
    width: 304px;
    margin-left: 24px;
    margin-top: 9.41px;
}
.cards3 > .review2 > p:nth-child(4){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #6b6b6b;
    position: absolute;
    width: 304px;
    margin-left: 24px;
    margin-top: 28.41px;
}
.cards3 > .review2 > p:nth-child(5){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 1.375;
    color: black;
    position: absolute;
    width: 304px;
    margin-left: 24px;
    margin-top: 62.41px;
}
.news{
    width: 1920px;
    height: 964px;
    background-color: #F8F8F8;
    float: left;
    position: relative;
    top: 251px;
}
.news > span:nth-child(1){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 44px;
    text-transform: uppercase;
    color: black;
    position: absolute;
    margin-left: 400px;
    margin-top: 134px;
}
.news > span:nth-child(2){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    margin-left: 400px;
    margin-top: 190px;
    position: absolute;
}
.news > img:nth-child(3){
    margin-left: 279px;
    margin-top: 177px;
}
.news > .box4{
    position: absolute;
}
.news > .box4 > .top > img:nth-child(1){
    margin-left: 400px;
    float: left;
}
.news > .box4 > .top1{
    width: 256px;
    height: 320px;
    background-image: url(../img/plush1.png);
    background-repeat: no-repeat;
    margin-left: 32px;
    float: left;
}
.news > .box4 > .top1 > span:nth-child(1){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    margin-left: 20px;
    margin-top: 157px;
}
.news > .box4 > .top1 > span:nth-child(2){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    color: white;
    position: absolute;
    margin-left: 20px;
    margin-top: 219px;
}
.news > .box4 > .top1 > img:nth-child(3){
    margin-left: 76px;
    margin-top: 220px;
}
.news > .box4 > .top2{
    width: 256px;
    height: 256px;
    background-image: url(../img/plush2.png);
    background-repeat: no-repeat;
    margin-left: 1264px;
}
.news > .box4 > .top2 > span:nth-child(1){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    margin-left: 20px;
    margin-top: 176px;
}
.news > .box4 > .top2 > span:nth-child(2){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    color: white;
    margin-left: 20px;
    margin-top: 219px;
    position: absolute;
}
.news > .box4 > .top2 > img:nth-child(3){
    margin-left: 76px;
    margin-top: 220px;
}
.news > .box4 > .top3{
    background-image: url(../img/plush3.png);
    background-repeat: no-repeat;
    width: 256px;
    height: 256px;
    border-radius: 30px;
    margin-left: 400px;
    margin-top: -32px;
    float: left;
}
.news > .box4 > .top3 > span:nth-child(1){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    margin-left: 20px;
    margin-top: 157px;
}
.news > .box4 > .top3 > span:nth-child(2){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    color: white;
    position: absolute;
    margin-left: 20px;
    margin-top: 219px;
}
.news > .box4 > .top3 > img:nth-child(3){
    margin-left: 76px;
    margin-top: 220px;
}
.news > .box4 > .top4{
    background-image: url(../img/plush4.png);
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 544px;
    height: 256px;
    float: left;
    margin-left: 32px;
    margin-top: -32px;
}
.news > .box4 > .top4 > span:nth-child(1){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    margin-left: 303px;
    margin-top: 58px;
}
.news > .box4 > .top4 > span:nth-child(2){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    color: white;
    position: absolute;
    margin-left: 303px;
    margin-top: 182px;
}
.news > .box4 > .top4 > img:nth-child(3){
    margin-left: 359px;
    margin-top: 183px;
}
.news > .box4 > .top5{
    background-image: url(../img/plush5.png);
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 256px;
    height: 256px;
    float: left;
    margin-left: 32px;
    margin-top: -32px;
}
.news > .box4 > .top5 > span:nth-child(1){
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    margin-left: 20px;
    margin-top: 136px;
}
.news > .box4 > .top5 > span:nth-child(2){
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    color: white;
    position: absolute;
    margin-left: 20px;
    margin-top: 219px;
}
.news > .box4 > .top5 > img:nth-child(3){
    margin-left: 108px;
    margin-top: 220px;
}