* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1120px;
}

.container_2 {
    margin: 0 auto;
    height: 400px;
    width: 1528px;
    margin-top: 52px;

}

.first_font {
    font-size: 44px;
    line-height: 47px;
    font-weight: 500;
}

.second_font {
    margin-top: 9px;
    font-size: 24px;
    font-weight: 300;
}

.header div.container {
    height: 85px;
}

[alt="Logo"] {
    margin: 13px 86px 0 0;
    float: left;
}

[alt="burger"] {
    margin: 33px 0 0 24px;
    float: right;
}

div.header button {
    background: rgb(255, 255, 255);
    border-radius: 30px;
    float: right;
    font-weight: 500;
    font-size: 14px;
    margin: 21px 30px 0 0;
    padding: 12px;
    border: solid 1px #6A6A6A;
}

.header div.container div:nth-of-type(2) {
    margin: 24px 11px 0;
    float: right;
    height: 38px;
    background: #E3E3E3;
    width: 1px;
}

div.list ul {
    padding-top: 33px;
}

div.list>ul li {
    margin-right: 42px;
    float: left;
    list-style-type: none;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;

}

div.list>ul li:nth-of-type(2) {
    color: #EC1C24;
    margin-right: 42px;
    float: left;
    list-style-type: none;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;

}

div.list>ul li:last-of-type {
    float: none;

}

[alt="call1"] {
    float: right;
    margin-top: 27px;
    margin-right: 25px;
}

.top {
    background: url('../img/Mask\ group.png') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

div.top p:first-of-type {
    padding-top: 157px;
    font-weight: 900;
    font-size: 128px;
    line-height: 135px;
}

div.top p:last-child {
    font-size: 28px;
    margin-top: 38px;
    padding-bottom: 497px;
}

.hot_tour div.container {
    padding: 134px 0 193px 0;
}

.container_3 {
    margin-top: 63px;
    height: 340px;
}

div.container_3 div {
    width: 256px;
    height: 340px;
    border-radius: 30px;
    float: left;
    margin-right: 32px;
    padding: 20px 0px 20px 20px;
}

div.container_3 div:nth-of-type(1) {
    background: url('../img/mask2.png'), url('../img/mask_1.png'), url('../img/1.jpg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover;
}

div.container_3 div:nth-of-type(2) {
    background: url('../img/mask2.png'), url('../img/mask_1.png'), url('../img/2.jpg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover;
}

div.container_3 div:nth-of-type(3) {
    background: url('../img/mask2.png'), url('../img/mask_1.png'), url('../img/3.jpg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover;
}

div.container_3 div:nth-of-type(4) {
    background: url('../img/mask2.png'), url('../img/mask_1.png'), url('../img/4.jpg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover;
    margin-right: 0;
}

.days {
    color: #ffffff;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    padding: 2px 10px 3px 10px;
    margin-right: 10px;

}

.price {
    color: #ffffff;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid white;
    padding: 2px 10px 3px 10px;
}

.countries {
    color: #ffffff;
    margin-top: 219px;
    font-size: 14px;
    margin: 219px 0px 6px 0px;
}

.data {
    margin-bottom: 6px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.more {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}


div.popular_hotel {
    text-align: center;
    background: #F8F8F8;
    padding: 120px 0 193px 0;
}

.container_2 div {
    padding: 30px 30px 31px 25px;
    border-radius: 30px;
    color: #F8F8F8;
}

.container_2 div:nth-of-type(1) {
    float: left;
    width: 460px;
    height: 340px;
    background: url('../img/plashka.png') no-repeat, url('../img/ritz.jpg') center center no-repeat;
    background-size: cover;
}

.container_2 div:nth-of-type(2) {
    margin-left: 32px;
    float: left;
    width: 544px;
    height: 400px;
    background: url('../img/plashka.png') no-repeat, url('../img/ritzcalton.jpg') center center no-repeat;
    background-size: cover;
}

.container_2 div:nth-of-type(3) {
    float: right;
    width: 460px;
    height: 340px;
    background: url('../img/plashka.png') no-repeat, url('../img/riztcalt.jpg') center center no-repeat;
    background-size: cover;
}

p.mark {
    text-align: right;
}

.mark {
    font-size: 65px;
}

p.place {
    text-align: left;
    font-size: 28px;
    font-weight: 500;
    margin: 163px 0 2px 0;
}

p.more {
    text-align: left;
}

div.container_2 div:nth-of-type(2) p:nth-of-type(1) {
    margin-bottom: 223px;

}



.picture {
    background: url('../img/mask_group.jpg') no-repeat center center;
    background-size: cover;
    padding: 452px 0 20px 0;
    height: 605px;
}

.picture div.container {
    height: 133px;
    border-radius: 30px;
    background: white;
}

.picture div.container div:nth-of-type(1) {
    font-size: 24px;
    width: 236px;
    float: left;
    margin: 38px 79px 38px 64px;
}

.picture div.container div:nth-of-type(2) {

    float: left;
    font-size: 16px;
    width: 208px;
    font-weight: 300;
    margin: 37px 79px 38px 0;
}

.picture div.container div:nth-of-type(3) {
    width: 144px;
    height: 49px;
    float: left;
    margin: 41px 79px 42px 0;
}

.picture div.container div:nth-of-type(4) {
    width: 168px;
    height: 40px;
    float: right;
    margin: 46px 63px 47px 0;
    background: #EC1C24;
    border-radius: 30px;
    color: #F8F8F8;
    padding: 11px 0px 10px 25px;
}

.picture div.container div:nth-of-type(4) p {
    float: left;
}

[alt="arrow"] {
    margin-left: 8px;
}

.tel {
    border-bottom: 0.5px solid grey;
    padding-bottom: 5px;
    font-size: 12px;
    color: grey;
}

.review p {
    text-align: center;
}

.review p.first_font {
    margin: 187px 0 0 0;
}

div.review div.container {
    margin-top: 67px;
    padding-bottom: 500px;
}

.review div.container div {
    padding: 27px 24px 32px 24px;
    float: left;
    border-radius: 30px;
    background: #F8F8F8;
    width: 352px;

}

.review div.container div:first-of-type {
    margin-right: 32px;
}

.review div.container div:nth-of-type(2) {
    margin-right: 32px;
}

.review div.container div:nth-of-type(3) {
    float: right;
}

p.img_review [src$=".jpg"] {
    margin-bottom: 15px;
    width: 64px;
    height: 64px;
    border-radius: 50px;

}

.first_name {
    text-transform: uppercase;
    font-weight: 300;
    margin: 9.41px 0 0 0;
    font-size: 12px;
    color: #6B6B6B;

}

.trip {
    font-weight: 300;
    margin: 5px 0 20px 0;
    font-size: 12px;
    color: #6B6B6B;

}

p.p_review {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.news {
    background: #F8F8F8;
}

.news div.container {
    padding: 145px 0 126px 0;

}

div.cont_2 {
    margin: 62px 0 32px 0;
    /* background: #EC1C24; */
    height: 256px;
}

div.cont_3 {
    /* background: #EC1C24; */
    height: 256px;
}

div.big {
    border-radius: 30px;
    width: 544px;
    height: 256px;
    /* background-color: rgb(22, 44, 168); */
    float: left;
    padding: 58px 250px 57px 28px;
}

div.small {
    padding: 0 16px 42px 20px;
    position: relative;
    border-radius: 30px;
    height: 256px;
    width: 256px;
    /* background: rgb(69, 31, 173); */
    float: left;
}

.news div.container div.cont_2 div:nth-of-type(1) {
    margin-right: 32px;
    background: url('../img/mask_1.png') center center, url('../img/i_2.jpg') center center no-repeat;
    background-size: cover;
}

.news div.container div.cont_2 div:nth-of-type(2) {
    margin-right: 32px;
    background: url('../img/mask_1.png') center center, url('../img/i_3.jpg') center center no-repeat;
    background-size: cover;
}

.news div.container div.cont_2 div:nth-of-type(3) {
    float: right;
    background: url('../img/mask_1.png') center center, url('../img/i_4.jpg') center center no-repeat;
    background-size: cover;
    ;
}

.news div.container div.cont_3 div:nth-of-type(1) {
    margin-right: 32px;
    background: url('../img/mask_1.png') center center, url('../img/i_5.jpg') center center no-repeat;
    background-size: cover;
}

.news div.container div.cont_3 div:nth-of-type(2) {
    margin-right: 32px;
    background: url('../img/mask_1.png') center center, url('../img/i_6.jpg') center center no-repeat;
    background-size: cover;
}

.news div.container div.cont_3 div:nth-of-type(3) {
    float: right;
    background: url('../img/mask_1.png') center center, url('../img/i_7.jpg') center center no-repeat;
    background-size: cover;
}

div.big p:first-of-type {
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500px;
}

div.big p:last-of-type {
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 200px;
}

div.cont_3 div.big {
    padding: 58px 21px 86px 303px;
}

div.small p:first-of-type {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500px;
    color: #ffffff;
}

div.small p:last-of-type {
    position: absolute;
    bottom: 0;
    margin-top: 5px;
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 200px;
}

div.cont_2 div.small p:first-of-type {
    margin-top: 157px;
}

div.cont_2 div.small:last-of-type p:first-of-type {
    margin-top: 187px;
}

div.cont_3 div.small:first-of-type p:first-of-type {
    margin-top: 170px;
}

div.cont_3 div.small:last-of-type p:first-of-type {
    margin-top: 150px;
}

div.about_us div.container {
    padding: 49px 0 140px 0;
}

.about_us div.container div:nth-of-type(1) {
    margin-bottom: 72px;
    text-align: center;
}

div.cont_5 {
    /* background: #a71cec; */
    height: 360px;
}

div.cont_6 {
    margin-top: -20px;
    height: 275px;
    /* background: #a71cec; */
}

[alt="team"] {
    float: right;
    width: 544px;
    height: 359px;
    border-radius: 30px;
}

div.cont_5 p {
    width: 526px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 200;
}

[alt="we_font"] {
    float: left;
    margin: 7px 5px 0 0;
}

[alt="pool"] {
    float: left;
    border-radius: 30px;
    width: 352px;
    height: 270px;
}

div.cont_6 p:first-of-type {
    float: left;
    font-size: 16px;
    font-weight: 200;
    padding-top: 96px;
    width: 352px;
    margin: -20px 0 0 32px;
    line-height: 26px;

}

div.cont_6 p:last-of-type {
    margin: -19px 0 0 32px;
    float: left;
    font-size: 16px;
    font-weight: 200;
    width: 300px;
    line-height: 26px;
    padding-top: 96px;

}

div.contacts {
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    /* background: #a085ae; */
    margin-top: 80px;
    height: 216px;
}

div.social_media {
    float: left;
    margin: 65px 67px 64px 54px;
    /* background: #a71cec; */
    width: 262px;
    height: 87px;
}

div.social_media p {
    font-size: 24px;
    font-weight: 500;
    color: #1C1C1C;
    text-transform: uppercase;
}

div.social_media ul>li {
    float: left;
    width: 32px;
    height: 32px;
    list-style-type: none;
    margin: 26px 14px 0 0;
}

div.social_media ul>li:last-of-type {
    margin-right: 0;
}

div.line {
    margin-top: 75px;
    float: left;
    background: #D4D4D4;
    height: 63px;
    width: 1px;
}

div.numbers {
    text-align: center;
    float: left;
    margin: 42px 30px 41px 20px;
    /* background: #a71cec; */
    width: 313px;
    height: 133px;
}

div.numbers p:first-of-type {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #1C1C1C;
    text-transform: uppercase;
}

div.numbers p:nth-of-type(2) {
    margin-bottom: 6px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 300;
}

div.numbers p:nth-of-type(3) {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 26px;
    text-decoration: underline;
    font-weight: 300;
}

div.address {
    text-align: center;
    float: right;
    width: 275px;
    height: 107px;
    margin: 55px 40px 54px 57px;
    /* background: #a71cec; */
}

div.address p:first-of-type {
    font-size: 24px;
    font-weight: 500;
    color: #1C1C1C;
    text-transform: uppercase;
    margin-bottom: 25px;
}

div.address p:last-of-type {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: 300;
}

div.bottom_form {
    background: url('../img/bottom_picture.jpg') no-repeat center center;
    background-size: cover;
    height: 454px;
    padding: 140px 0 181px 0;
}

div.bottom_form div.container {
    height: 133px;
    border-radius: 30px;
    background: white;
}

div.bottom_form div.container div:nth-of-type(1) {
    /* background: red;  */
    font-size: 24px;
    width: 305px;
    float: left;
    margin: 39px 68px 38px 64px;
    text-transform: uppercase;
}

div.bottom_form div.container div:nth-of-type(2) {
    /* background: red;  */
    font-weight: 300;
    font-size: 16px;
    width: 171px;
    height: 57px;
    float: left;
    margin: 37px 68px 37px 0;
}

div.bottom_form div.container div:nth-of-type(3) {
    width: 144px;
    height: 49px;
    float: left;
    margin: 39px 69px 42px 0;
}

div.bottom_form div.container div:nth-of-type(4) {
    float: right;
    width: 168px;
    height: 40px;
    float: right;
    margin: 46px 63px 47px 0;
    background: #EC1C24;
    border-radius: 30px;
    color: #F8F8F8;
    padding: 10px 0px 10px 28px;
}

div.bottom_form div.container div:nth-of-type(4) p {
    float: left;
}

div.bottom {
    margin-top: -30px;
    border-radius: 30px 30px 0 0;
    background: #222222;
    height: 447px;
}

.bottom div.container div:first-of-type {
    height: 168px;
    border-bottom: 1px solid #494949;
}

.bottom div.container div:nth-of-type(2) {
    height: 111px;
    border-bottom: 1px solid #494949;
    padding: 47px 97px 47px 97px;
}

.bottom_list ul {
    margin: 0 auto;
}

.bottom_list ul>li {
    list-style-type: none;
    float: left;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 58px;
}

[alt="from"] {
    float: right;
}

[alt="b_logo"] {
    margin-top: 52px;
}


.bottom_list ul>li:last-of-type {
    margin-right: 0;
}

.bottom div.container div:first-of-type div {
    font-weight: 300;
    margin-top: 61px;
    border: none;
    float: right;
    width: 410px;
    height: 40px;
    font-size: 12px;
    color: #ffffff;
}

.bottom div.container div:first-of-type p {
    padding-top: 6px;
    text-transform: uppercase;
    float: left;
    width: 149px;
}



ul.smedia_bottom {
    padding-left: 352px;
    /* background: #6B6B6B; */
    margin: 42px 0 30px 0;
}

ul.smedia_bottom li {
    margin-right: 32px;
    list-style-type: none;
    float: left;
}

ul.smedia_bottom li:last-of-type {
    margin-right: 0;
    float: none;
}

.sobaka {
    text-align: center;
    font-size: 12px;
    color: #525252;
    font-weight: 300;
}