@media all and (max-width: 1360px){
    .container_header {
        width: 1000px;
    }
    .nav_bar {
        width: 1000px;
    }
    .container1 {
        width: 1000px;
    }

    .swiper-slide a{
        width: 415px;
    }

    .swiper-container {
        width: 415px;
    }
    
    .exchanger{
        width: 415px;
    }

    .button_exchange button{
        width: 415px;
    }

    .currency_support {
        margin-left: 800px;
        bottom: 0px;
    }

    .box_transaction{
        width: 485px;
    }

    .wrap_ourProducts {
        width: 1000px;
    }

    .header_block1 h2 {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 38px;
        color: var(--absolute-white);
    }

    .header_block1 p {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 16px;
        color: var(--grey-70);
        margin-top: 15px;
    }

    .first_block1 h1{
        font-size: 38px;
    }

    .first_block1 p{
        font-size: 16px;
    }

    .first_block1 h1{
        margin-top: 50px;
    }

    .first_block1 p{
        margin-top: 54px;
    }

    .notice{
        left: -60px;
    bottom: -20px;
    }

    .first_block1{
        width: 510px;
    }

    .first_block2 {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }

    .second_item1 h4{
        font-size: 20px;
    }

    .second_item2 h4{
        font-size: 20px;
    }

    .second_item3 h4{
        font-size: 20px;
    }

    .second_item1 p{
        margin-top: 20px;

    }

    .second_item2 p{
        margin-top: 20px;
    }

    .second_item3 p{
        margin-top: 20px;
    }
}