@media all and (max-width: 450px){
    .container_header {
        width: 600px;
    }

    .nav_bar {
        width: 600px;
    }

    .nav{
        display: none;
    }

    .menu{
        display: none;
    }

    .nav_bar{
        display: none;
    }

    .navbar{
        display: flex;
    }

    .signUp a {
        margin-right: 0px;
    }

    .navbar{
        border-radius: 25px;
    width: 600px;
    margin: auto;
    }

    .container1 {
        width: 600px;
    }

    .bg_image {
        background-image: url(../img/Group.png);
        background-repeat: no-repeat;
        height: 160px;
    }
    
    .first_block1{
        margin-top: 0;
    }

    .first_block2{
        margin-top: 0;
    }

    .box1 {
        display: flex
    ;
        flex-direction: column;
        align-items: center;
    }
    
    .first_sect{
        width: 100vh;
    }

    .currency_support_wrap {
        width: 100vh;
    }

    .container1 {
        width: 700px;
    }

    .currency_support_wrap {
        width: 100vh;
        margin-left: -180px;
        margin-top: 10px;
    }

    .second_sect {
        background: var(--grey-10);
        width: 100vh;
    }

    .wrap_ourProducts {
        width: 700px;
    }

    .third_sect {
        background: var(--grey-10);
        width: 100vh;
    }

    .four_sect {
        background-color: var(--grey-10);
        padding-bottom: 150px;
        width: 100vh;
    }

    .five_sect {
        background-color: var(--grey-10);
        padding-bottom: 150px;
        width: 100vh;
    }

    .fivebox1_item2 {
        width: 400px;
        height: 500px;
    }

    .fivebox1_item1 {
        width: 400px;
        height: 500px;
    }

    .fivebox2_item1 {
        width: 400px;
        height: 500px;
    }

    .fivebox2_item2 {
        width: 400px;
        height: 500px;
    }

    .four1_item2 {
        width: 375px;
        padding: 30px;
        height: 297px;
    }

    .four1_item1 {
        width: 375px;
        padding: 30px;
        height: 297px;
    }

    .four2_item1 {
        width: 375px;
        padding: 30px;
        height: 297px;
    }

    .four2_item2 {
        width: 375px;
        padding: 30px;
        height: 297px;
    }

    .wrap_testimonials {
        width: 600px;
        margin: auto;
    }

    .second_buttons{
        margin-top: 20px;
    }

    .six_box1 {
        display: flex
    ;
        flex-direction: column;
        align-items: center;
    }

    .sixbox2_item1 div {
        margin-top: -6px;
    }
}