@media all and (max-width: 1360px){
    .container_header {
        width: 1000px;
    }
    .nav_bar {
        width: 1000px;
    }
    .container1 {
        width: 1000px;
    }

    .swiper-slide a{
        width: 415px;
    }

    .swiper-container {
        width: 415px;
    }
    
    .exchanger{
        width: 415px;
    }

    .button_exchange button{
        width: 415px;
    }

    .currency_support {
        margin-left: 640px;
        bottom: 0px;
    }

    .box_transaction{
        width: 485px;
    }

    .wrap_ourProducts {
        width: 1000px;
    }

    .header_block1 h2 {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 38px;
        color: var(--absolute-white);
    }

    .header_block1 p {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 16px;
        color: var(--grey-70);
        margin-top: 15px;
    }

    .first_block1 h1{
        font-size: 38px;
    }

    .first_block1 p{
        font-size: 16px;
    }

    .first_block1 h1{
        margin-top: 50px;
    }

    .first_block1 p{
        margin-top: 54px;
    }

    .notice{
        left: -60px;
    bottom: -20px;
    }

    .first_block1{
        width: 510px;
    }

    .first_block2 {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }

    .second_item1 h4{
        font-size: 20px;
    }

    .second_item2 h4{
        font-size: 20px;
    }

    .second_item3 h4{
        font-size: 20px;
    }

    .second_item1 p{
        margin-top: 20px;

    }

    .second_item2 p{
        margin-top: 20px;
    }

    .second_item3 p{
        margin-top: 20px;
    }

    .wrap_useCases {
        width: 1000px;
    }

    .third_block1 h2{
        font-size: 38px;
    }

    .third_block1 p{
        font-size: 16px;
    }

    .wrap1_item1 {
        width: 240px;
        height: 170px;
    }

    .wrap1_item2 {
        width: 240px;
        height: 170px;
    }

    .wrap2_item3 {
        width: 240px;
        height: 170px;
    }

    .wrap2_item4 {
        width: 240px;
        height: 170px;
    }

    .third_wrap2{
        margin-top: 20px;
    }

    .third_box1{
        padding: 20px;
        width: 515px;
    }

    .third_box2{
        width: 485px;
    }

    .third_wrap3 p{
        font-size: 16px;
    }

    .wrap4_item1 p:last-child{
        font-size: 16px;
    }

    .wrap4_item2 p:last-child{
        font-size: 16px;
    }

    .wrap4_item3 p:last-child{
        font-size: 16px;
    }

    .third_box3{
        width: 485px;
    }

    .third_wrap5 p{
        font-size: 16px;
    }

    .third_wrap6{
        margin-top: 10px;
        height: 150px;
    }

    .wrap6_item3 p:last-child{
        line-height: 1.3;
    }

    .button_learnmore a{
        margin-top: 20px;
    }

    .wrap7_item2 {
        width: 240px;
        height: 170px;
    }

    .wrap7_item1 {
        width: 240px;
        height: 170px;
    }

    .wrap8_item2 {
        width: 240px;
        height: 170px;
    }

    .wrap8_item1 {
        width: 240px;
        height: 170px;
    }

    .third_wrap8{
        margin-top: 20px;
    }

    .third_box4{
        width: 515px;
        padding: 20px;
    }

    .wrap_ourFeatures {
        width: 1000px;
        margin: auto;
    }

    .four_block1 h4{
        font-size: 38px;
    }

    .four_block1 p{
        font-size: 16px;
    }

    .four1_item1{
        width: 375px;
        padding: 30px;
    }

    .four1_item2{
        width: 375px;
        padding: 30px;
    }

    .four2_item1{
        width: 375px;
        padding: 30px;
    }

    .four2_item2{
        width: 375px;
        padding: 30px;
    }

    .wrap_askQuestions {
        width: 1000px;
        margin: auto;
    }

    .five_block1 h4{
        font-size: 38px;
    }

    .five_block1 p{
        font-size: 16px;
    }

    .fivebox1_item1{
        width: 500px;
    }

    .fivebox1_item2{
        width: 500px;
    }

    .fivebox2_item1{
        width: 500px;
    }

    .fivebox2_item2{
        width: 500px;
    }

    .wrap_testimonials {
        width: 1000px;
        margin: auto;
    }

    .sixbox_item1 h4{
        font-size: 38px;
    }

    .sixbox_item1 p{
        font-size: 16px;
    }

    .sixbox2_item1 div{
        margin-top: -9px;
    }

    .six_block2 {
        width: 1000px;
    }

    .six_box3 h6{
        font-size: 38px;
    }

    .six_box3 p{
        font-size: 16px;
    }

    .wrap_footer {
        width: 1000px;
    }

    .footer_bar {
        width: 1000px;
    }

    .currency_support_wrap {
        width: 1000px;
    }

    .strings {
        position: absolute;
        margin-left: 100px;
        overflow-x: hidden;
    }

    .footer{
        padding: 0;
    }
}