:root {
    --font-family: "Lexend", sans-serif;
    --second-family: "Inter", sans-serif;
}

:root {
    --absolute-white: #fff;
    --absolute-black: #000;
    --green-60: #caff33;
    --green-65: #d1ff4d;
    --green-70: #d8ff66;
    --green-80: #e5ff99;
    --green-90: #f2ffcc;
    --green-95: #f8ffe5;
    --green-97: #fbfff0;
    --green-99: #fefffa;
    --white-90: #e4e4e7;
    --white-95: #f1f1f3;
    --white-97: #f7f7f8;
    --white-99: #fcfcfd;
    --grey-10: #1a1a1a;
    --grey-11: #1c1c1c;
    --grey-15: #262626;
    --grey-20: #333;
    --grey-30: #4c4c4d;
    --grey-35: #59595a;
    --grey-40: #656567;
    --grey-60: #98989a;
    --grey-70: #b3b3b3;
    --grey-75: #bfbfbf;
}

html {
    overflow-x: hidden;
}

body{
    background-color: var(--grey-10);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: var(--grey-10);
}

.bg_image {
    background-image: url(../img/Group.png);
    background-repeat: no-repeat;
}

.container_header {
    width: 1500px;
    margin: auto;
}

.nav_bar {
    border: 1px solid var(--grey-15);
    border-radius: 100px;
    width: 1500px;
    height: 95px;
    background: #262626;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
}

.header_logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav_li {
    list-style-type: none;
    display: flex;
}

.nav_li li a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--absolute-white);
    padding: 12px 24px;
    transition: 1s;
}

.nav_li li a:hover {
    background: var(--grey-20);
    border-radius: 82px;
    padding: 12px 24px;
    width: 100px;
    height: 51px;
}

.menu {
    display: flex;
    align-items: center;
}

.signUp a {
    text-decoration: none;
    padding: 12px 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--absolute-white);
    margin-right: 20px;
    transition: 1s;
}

.signUp a:hover {
    background: var(--grey-20);
    border-radius: 82px;
    padding: 12px 24px;
    width: 100px;
    height: 51px;
}

.logIn a {
    text-decoration: none;
    border-radius: 82px;
    padding: 14px 30px;
    background: var(--green-60);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--grey-11);
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.logIn a:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.first_sect {
    background-color: var(--grey-10);
    padding-bottom: 150px;
}

.container1 {
    width: 1500px;
    margin: auto;
}

.box1 {
    display: flex;
    justify-content: space-between;
}

.first_block1 {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.first_block1 span {
    display: flex;
    border-radius: 61px;
    padding: 10px 20px 10px 12px;
    width: 357px;
    height: 44px;
    background: var(--grey-20);
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--absolute-white);
}

.first_block1 h1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    color: var(--absolute-white);
    margin-top: 20px;
}

.first_block1 h1 b {
    color: var(--green-60);
}

.first_block1 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--white-90);
    margin-top: 14px;
}

.openAccount a {
    text-decoration: none;
    border-radius: 82px;
    padding: 18px 30px;
    background: var(--green-60);
    margin-top: 50px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--grey-11);
}

.openAccount a:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.first_block2 {
    margin-top: 150px;
    display: flex;
}

.strings {
    position: absolute;
    margin-left: 270px;
    overflow-x: hidden;
}

.box_transaction {
    border: 0.87px solid var(--grey-15);
    border-radius: 10px;
    padding: 34px;
    width: 515px;
    height: 624px;
    background: var(--grey-10), linear-gradient(226deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 40.27%);
}

.box_transaction p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    color: var(--absolute-white);
    align-self: center;

}

.swiper-container {
    width: 445px;
    height: 225px;
    position: relative;
    white-space: nowrap;
    padding: 0;
    will-change: transform;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}


.swiper-slide a {
    text-decoration: none;
    display: flex;
    border: 0.87px solid var(--grey-15);
    border-radius: 10px;
    padding: 13px 20px;
    width: 445px;
    height: 76px;
    background: var(--grey-11);
    justify-content: space-between;
    margin: 5px;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1.5s;
    transition: 1.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.swiper-slide a:hover,
.swiper-slide a:focus,
.swiper-slide a:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
}



.item_card1 {
    display: flex;
}

.item_card1 span {
    border-radius: 46px;
    padding: 8px;
    width: 38px;
    height: 38px;
    background: var(--green-60);
    align-self: center;
}

.item_card1 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 15px;
    color: var(--absolute-white);
}

.item_card1 p b {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: var(--absolute-white);
}

.item_card2 {
    display: flex;
}

.item_card2 span {
    border-radius: 46px;
    padding: 8px;
    width: 38px;
    height: 38px;
    background: var(--green-60);
    align-self: center;
}

.item_card2 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 15px;
    color: var(--absolute-white);
}

.item_card2 p b {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: var(--absolute-white);
}

.item_card3 {
    display: flex;
}

.item_card3 span {
    border-radius: 46px;
    padding: 8px;
    width: 38px;
    height: 38px;
    background: var(--green-60);
    align-self: center;
}

.item_card3 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 15px;
    color: var(--absolute-white);
}

.item_card3 p b {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: var(--absolute-white);
}

.exchange_p {
    margin-top: 40px;
}

.exchanger {
    border: 0.87px solid var(--grey-15);
    border-radius: 10px;
    width: 445px;
    height: 177px;
    margin-top: 10px;
    display: flex;
}

.currency1 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: var(--absolute-white);
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

.currency2 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: var(--absolute-white);
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

#curr {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    color: var(--white-90);
}

.first_exchange {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
}

.second_exchange {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 0.7;
}

.sum1 {
    align-self: center;
    margin-bottom: 30px;
}

.sum2 {
    align-self: center;
    margin-bottom: 30px;
}

.button_exchange button {
    border: none;
    border-radius: 71px;
    padding: 13px 26px;
    width: 445px;
    height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: var(--green-65);
    background: #22251b;
    display: block;
    text-align: center;
    margin-top: 15px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.button_exchange button:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
}

.notice {
    border-radius: 10px;
    padding: 13px 17px;
    width: 188px;
    height: 75px;
    background: #22251b;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 120px;
    bottom: 50px;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1.5s;
    transition: 1.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.notice:hover,
.notice:focus,
.notice:active {
    -webkit-transform: scale(0.9);
    transform: scale(1.1);
    cursor: pointer;
}


.notice span {
    border-radius: 46px;
    padding: 8px;
    width: 38px;
    height: 38px;
    background: var(--green-60);
    display: block;
    align-self: center;
}

.notice_wrap p:first-child {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: var(--absolute-white);
}

.notice_wrap p:last-child {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    color: var(--white-90);
}

.notice_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.currency_support_wrap {
    width: 1500px;
    margin: auto;
}

.currency_support {
    border-radius: 69px;
    padding: 8px 8px 8px 20px;
    width: 370px;
    height: 69px;
    background: #22251b;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1210px;
}

.currency_support p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: var(--absolute-white);
}

.currency_icons {
    border: 0.87px solid var(--grey-15);
    border-radius: 48px;
    padding: 8px;
    width: 176px;
    height: 52px;
    background: var(--grey-10);
    display: flex;
    justify-content: space-around;
}

.currency_icons span {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.currency_support span:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
}

.second_sect {
    background: var(--grey-10);
}

.wrap_ourProducts {
    width: 1500px;
    margin: auto;
}

.second_block1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.header_block1 h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    color: var(--absolute-white);
}

.header_block1 h2 b {
    color: var(--green-60);
}

.header_block1 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
    margin-top: 15px;
}

.second_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey-15);
    border-radius: 82px;
    padding: 14px;
    width: 386px;
    height: 83px;
    background: var(--grey-11);
}

.button1 button {
    border: none;
    border-radius: 140px;
    padding: 14px 24px;
    width: 177px;
    height: 55px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: var(--absolute-white);
    background-color: var(--grey-11);
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1.5s;
    transition: 1.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.button1 button:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
    background-color: var(--green-60);
}

.second_block2 {
    display: flex;
    padding-bottom: 150px;
}

.second_item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle1 {
    border-radius: 70px;
    padding: 12px;
    width: 98px;
    height: 98px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0.05) 100%);
}

.circle1 span {
    border-radius: 50px;
    padding: 20px;
    width: 74px;
    height: 74px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) 0%, rgba(202, 255, 51, 0.1) 46.77%);
    display: block;
}

.second_item1 h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--absolute-white);
    margin-top: 40px;
}

.second_item1 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: var(--grey-70);
}

.second_item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle2 {
    border-radius: 70px;
    padding: 12px;
    width: 98px;
    height: 98px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0.05) 100%);
}

.circle2 span {
    border-radius: 50px;
    padding: 20px;
    width: 74px;
    height: 74px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) 0%, rgba(202, 255, 51, 0.1) 46.77%);
    display: block;
}

.second_item2 h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--absolute-white);
    margin-top: 40px;
}

.second_item2 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: var(--grey-70);
}

.second_item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle3 {
    border-radius: 70px;
    padding: 12px;
    width: 98px;
    height: 98px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0.05) 100%);
}

.circle3 span {
    border-radius: 50px;
    padding: 20px;
    width: 74px;
    height: 74px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) 0%, rgba(202, 255, 51, 0.1) 46.77%);
    display: block;
}

.second_item3 h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--absolute-white);
    margin-top: 40px;
}

.second_item3 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: var(--grey-70);
}

.line1 {
    border: 1px solid var(--grey-15);
    width: 319px;
    height: 0px;
    transform: rotate(-90deg);
    margin-top: 120px;
}

.third_sect {
    background: var(--grey-10);
}

.wrap_useCases {
    width: 1500px;
    margin: auto;
}

.third_block2 {
    display: flex;
}

.third_block1 h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    color: var(--green-60);
    padding-bottom: 15px;
}

.third_block1 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
}

.third_box1 {
    border-radius: 20px;
    padding: 50px;
    width: 748px;
    height: 534px;
    background: var(--grey-11);
    margin-top: 80px;
}

.third_wrap1 {
    display: flex;
    justify-content: space-between;
}

.third_wrap1 a{
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1.5s;
    transition: 1.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.third_wrap1 a:hover,
.third_wrap1 a:focus,
.third_wrap1 a:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;

}


.third_wrap2 a{
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1.5s;
    transition: 1.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.third_wrap2 a:hover,
.third_wrap2 a:focus,
.third_wrap2 a:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;

}

.wrap1_item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--grey-15);
    border-radius: 16px;
    padding: 30px;
    width: 314px;
    height: 222px;
    background: var(--grey-10);
}

.wrap1_item1 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--absolute-white);
}

.circle1_1 {
    border-radius: 70px;
    padding: 10px;
    width: 78px;
    height: 78px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0.05) 100%);
}

.circle1_1 span {
    display: block;
    border-radius: 50px;
    padding: 14px;
    width: 58px;
    height: 58px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) 0%, rgba(202, 255, 51, 0.1) 46.77%);
}

.wrap1_item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--grey-15);
    border-radius: 16px;
    padding: 30px;
    width: 314px;
    height: 222px;
    background: var(--grey-10);
}

.wrap1_item2 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--absolute-white);
}

.circle1_2 {
    border-radius: 70px;
    padding: 10px;
    width: 78px;
    height: 78px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0.05) 100%);
}

.circle1_2 span {
    display: block;
    border-radius: 50px;
    padding: 14px;
    width: 58px;
    height: 58px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) 0%, rgba(202, 255, 51, 0.1) 46.77%);
}

.third_wrap2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.wrap2_item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--grey-15);
    border-radius: 16px;
    padding: 30px;
    width: 314px;
    height: 192px;
    background: var(--grey-10);
}

.wrap2_item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--grey-15);
    border-radius: 16px;
    padding: 30px;
    width: 314px;
    height: 192px;
    background: var(--grey-10);
}

.circle2_1 {
    border-radius: 70px;
    padding: 10px;
    width: 78px;
    height: 78px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0.05) 100%);

}

.circle2_2 {
    border-radius: 70px;
    padding: 10px;
    width: 78px;
    height: 78px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0.05) 100%);

}

.circle2_1 span {
    display: block;
    border-radius: 50px;
    padding: 14px;
    width: 58px;
    height: 58px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) 0%, rgba(202, 255, 51, 0.1) 46.77%);

}

.circle2_2 span {
    display: block;
    border-radius: 50px;
    padding: 14px;
    width: 58px;
    height: 58px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) 0%, rgba(202, 255, 51, 0.1) 46.77%);

}

.wrap2_item3 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--absolute-white);
}

.wrap2_item4 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--absolute-white);
}

.third_box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 748px;
    height: 473px;
    margin-top: 80px;
    margin-left: 100px;
}

.third_wrap3 h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    color: var(--absolute-white);
}

.third_wrap3 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
    margin-top: 15px;
}

.third_wrap4 {
    display: flex;
    align-items: center;
}

.wrap4_item1 p:first-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 58px;
    color: var(--green-60);
}

.wrap4_item1 p:last-child {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
}

.wrap4_item2 p:first-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 58px;
    color: var(--green-60);
}

.wrap4_item2 p:last-child {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
}

.wrap4_item3 p:first-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 58px;
    color: var(--green-60);
}

.wrap4_item3 p:last-child {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
}

.wrap_line1 {
    border: 1px dashed var(--grey-15);
    width: 146px;
    height: 0px;
    transform: rotate(-90deg);
}

.wrap_line2 {
    border: 1px dashed var(--grey-15);
    width: 146px;
    height: 0px;
    transform: rotate(-90deg);
}

.button_learnmore a {
    display: inline-block;
    text-decoration: none;
    margin-top: 60px;
    border: 1px solid var(--grey-15);
    border-radius: 82px;
    padding: 18px 24px;
    width: 148px;
    height: 63px;
    background: var(--grey-11);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: var(--absolute-white);
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.button_learnmore a:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
    background-color: var(--green-60);
}

.third_block3 {
    display: flex;
    align-items: center;
    margin-top: 70px;
    padding-bottom: 150px;
}

.third_box3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 748px;
    height: 473px;
}

.third_wrap5 h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;

    /* line-height: 45px; */
    line-height: 1.5;
    color: var(--absolute-white);
}

.third_wrap5 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;

    /* line-height: 27px; */
    line-height: 1.5;
    color: var(--grey-70);
    margin-top: 15px;
}

.third_wrap6 {
    display: flex;
    align-items: center;
}

.wrap6_item1 p:first-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 58px;

    /* line-height: 87px; */
    line-height: 1.5;
    color: var(--green-60);
}

.wrap6_item1 p:last-child {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 17px;

    /* line-height: 27px; */
    line-height: 1.5;
    color: var(--grey-70);
}

.wrap6_item2 p:first-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 58px;

    /* line-height: 87px; */
    line-height: 1.5;
    color: var(--green-60);
}

.wrap6_item2 p:last-child {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 17px;

    /* line-height: 27px; */
    line-height: 1.5;
    color: var(--grey-70);
}

.wrap6_item3 p:first-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 58px;

    /* line-height: 87px; */
    line-height: 1.5;
    color: var(--green-60);
}

.wrap6_item3 p:last-child {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 17px;

    /* line-height: 27px; */
    line-height: 1.5;
    color: var(--grey-70);
}

.third_box4 {
    border-radius: 20px;
    padding: 50px;
    width: 748px;
    height: 534px;
    background: var(--grey-11);
    margin-left: 100px;
}

.third_wrap7 {
    display: flex;
    justify-content: space-between;
}

.third_wrap7 a{
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1.5s;
    transition: 1.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.third_wrap7 a:hover,
.third_wrap7 a:focus,
.third_wrap7 a:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;

}

.third_wrap8 a{
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1.5s;
    transition: 1.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.third_wrap8 a:hover,
.third_wrap8 a:focus,
.third_wrap8 a:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;

}

.wrap7_item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--grey-15);
    border-radius: 16px;
    padding: 30px;
    width: 314px;
    height: 222px;
    background: var(--grey-10);
}

.wrap7_item1 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--absolute-white);
}

.wrap7_item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--grey-15);
    border-radius: 16px;
    padding: 30px;
    width: 314px;
    height: 222px;
    background: var(--grey-10);
}

.wrap7_item2 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--absolute-white);
}

.third_wrap8 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.wrap8_item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--grey-15);
    border-radius: 16px;
    padding: 30px;
    width: 314px;
    height: 222px;
    background: var(--grey-10);
}

.wrap8_item1 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--absolute-white);
}

.wrap8_item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--grey-15);
    border-radius: 16px;
    padding: 30px;
    width: 314px;
    height: 222px;
    background: var(--grey-10);
}

.wrap8_item2 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--absolute-white);
}

.four_sect {
    background-color: var(--grey-10);
    padding-bottom: 150px;
}

.wrap_ourFeatures {
    width: 1500px;
    margin: auto;
}

.four_block1 h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    color: var(--absolute-white);
}

.four_block1 h4 b {
    color: var(--green-60);
}

.four_block1 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
    margin-top: 15px;
}

.four_box1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 12px;
    padding: 50px;
    width: 308px;
    height: 337px;
    background: var(--grey-11);
}

.four_box1 button {
    border: 1px solid var(--grey-15);
    border-radius: 100px;
    padding: 18px 24px;
    width: 208px;
    height: 63px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: var(--absolute-white);
    background-color: var(--grey-10);
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1.5s;
    transition: 1.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.four_box1 button:hover,
.four_box1 button:focus,
.four_box1 button:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
    color: var(--green-60);
}

.four_wrap1 {
    display: flex;
}

.fourwrap_block {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.four1_item1 {
    border: 1px solid var(--grey-15);
    border-radius: 12px;
    padding: 50px;
    width: 555px;
    height: 272px;
    background: var(--grey-11);
}

.four1_item1 p:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    color: var(--absolute-white);
}

.four1_item1 p:last-child {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: var(--grey-70);
}

.four1_item2 {
    border: 1px solid var(--grey-15);
    border-radius: 12px;
    padding: 50px;
    width: 555px;
    height: 272px;
    background: var(--grey-11);
}

.four1_item2 p:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    color: var(--absolute-white);
}

.four1_item2 p:last-child {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: var(--grey-70);
}

.four_wrap2 {
    display: flex;
    margin-top: 30px;
}

.four2_item1 {
    border: 1px solid var(--grey-15);
    border-radius: 12px;
    padding: 50px;
    width: 555px;
    height: 272px;
    background: var(--grey-11);
}

.four2_item1 p:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    color: var(--absolute-white);
}

.four2_item1 p:last-child {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: var(--grey-70);
}

.four2_item2 {
    border: 1px solid var(--grey-15);
    border-radius: 12px;
    padding: 50px;
    width: 555px;
    height: 272px;
    background: var(--grey-11);
}

.four2_item2 p:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    color: var(--absolute-white);
}

.four2_item2 p:last-child {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: var(--grey-70);
}

.four_box2 a {
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1.5s;
    transition: 1.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.four_box2 a:hover,
.four_box2 a:focus,
.four_box2 a:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
}

.five_sect {
    background-color: var(--grey-10);
    padding-bottom: 150px;
}

.wrap_askQuestions {
    width: 1500px;
    margin: auto;
}

.five_block1 h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    color: var(--absolute-white);
}

.five_block1 h4 b {
    color: var(--green-60);
}

.five_block1 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
    margin-top: 15px;
}

.five_block1 p a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
    text-decoration: underline;
}

.fivewrap_box {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fivewrap_box hr {
    color: var(--grey-15);
}

.five_box1 {
    display: flex;
}

.fivebox1_item1 {
    border: 1px solid var(--grey-15);
    border-radius: 14px;
    padding: 50px;
    width: 782px;
    height: 347px;
}

.fivebox1_item1 h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--absolute-white);
}

.fivebox1_item1 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
}

.fivebox1_item2 {
    border: 1px solid var(--grey-15);
    border-radius: 14px;
    padding: 50px;
    width: 782px;
    height: 347px;
}

.fivebox1_item2 h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--absolute-white);
}

.fivebox1_item2 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
}

.five_box2 {
    display: flex;
    margin-top: 30px;
}

.fivebox2_item1 {
    border: 1px solid var(--grey-15);
    border-radius: 14px;
    padding: 50px;
    width: 782px;
    height: 347px;
}

.fivebox2_item1 h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--absolute-white);
}

.fivebox2_item1 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
}

.fivebox2_item2 {
    border: 1px solid var(--grey-15);
    border-radius: 14px;
    padding: 50px;
    width: 782px;
    height: 347px;
}

.fivebox2_item2 h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--absolute-white);
}

.fivebox2_item2 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
}

.fivebox_button button {
    border: 1px solid var(--grey-15);
    border-radius: 100px;
    padding: 18px 24px;
    width: 193px;
    height: 63px;
    background: var(--grey-11);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--absolute-white);
    margin-top: 10px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1.5s;
    transition: 1.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.fivebox_button button:hover,
.fivebox_button button:focus,
.fivebox_button button:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
    color: var(--green-60);
}

.six_sect {
    background-color: var(--grey-10);
}

.wrap_testimonials {
    width: 1500px;
    margin: auto;
}

.six_box1 {
    display: flex;
}

.sixbox_item1 h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    color: var(--absolute-white);
}

.sixbox_item1 h4 b {
    color: var(--green-60);
}

.sixbox_item1 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
    margin-top: 15px;
}

.six_box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.sixbox2_item1 {
    width: 404px;
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sixbox2_item1 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sixbox2_item1 div span {
    border: 1px solid var(--grey-15);
    width: 152px;
    height: 0px;
}

.sixbox2_item1 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--absolute-white);
}

.sixbox2_item1 p b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--green-60);
}

.sixbox2_item2 {
    width: 404px;
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sixbox2_item2 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sixbox2_item2 div span {
    border: 1px solid var(--grey-15);
    width: 152px;
    height: 0px;
}

.sixbox2_item2 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--absolute-white);
}

.sixbox2_item2 p b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: var(--green-60);
}

.sixbox2_item3 {
    width: 404px;
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sixbox2_item3 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sixbox2_item3 div span {
    border: 1px solid var(--grey-15);
    width: 152px;
    height: 0px;
}

.sixbox2_item3 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--absolute-white);
}

.sixbox2_item3 p b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--green-60);
}

.six_block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    border: 1px solid var(--grey-15);
    border-radius: 20px;
    padding: 80px;
    width: 1500px;
    background: var(--grey-11), linear-gradient(227deg, #1c1c1c 40.66%, rgba(28, 28, 28, 0) 100%), url("path_to_image");
}

.six_box3 h6 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    color: var(--absolute-white);
}

.six_box3 h6 b {
    color: var(--green-60);
}

.six_box3 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
}

.footer {
    background: var(--grey-11);
    width: 100%;
    padding: 100px 162px 50px 162px;
    margin-top: 80px;
}

.wrap_footer {
    width: 1500px;
    height: 578px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer_logo {
    display: flex;
    align-items: center;
}

.footer_contacts {
    display: flex;
}

.footer_contacts a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--white-90);
    margin: 15px;
}

.footer_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey-15);
    border-radius: 100px;
    padding: 16px 30px 16px 16px;
    height: 84px;
    width: 1500px;
    background: var(--grey-10);
}

.footer_bar p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--grey-70);
}

.bar_icons {
    display: flex;
    width: 184px;
height: 52px;
justify-content: space-between;
}

.bar_icons a span {
    display: block;
    border-radius: 100px;
    padding: 14px;
    width: 52px;
    height: 52px;
    background: var(--green-60);
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.bar_icons a span:hover{
    transform: scale(0.9);
}